#container
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
}

#grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Set up 3 columns with equal width */
    grid-gap: 10px; /* Add gap between grid items */
    width: 170px; /* Adjust width to fit the grid items */
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.field {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex; /* Add flex display to center content */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    font-size: 24px; /* Adjust font size for tick-tack-toe symbols */
}

.field:hover
{
    background-color: gray;
    cursor: pointer;
}